:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  background-color: #eeeeee;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
html.dark {
  background-color: #0f172a;
}
html.dark #divider.dark svg {
  fill: #0f172a;
}
html.dark #divider.light svg {
  fill: rgba(51, 65, 85);
}
html #divider.dark svg {
  fill: #eee;
}
html #divider.light svg {
  fill: #ddd;
}
